<div class="row">
  <%= form_with scope: :book, url: books_path, id: 'book_search_form', method: :get, local: true do |form| %>
    <div class="row">
      <div class="twelve columns" id="search_section">
        <br>
        <div class="input-field col s12">
          <%= form.label :search, class: 'right' %>
          <%= form.text_field :search, id: 'book_search' %>
        </div>
        <%= form.submit 'Search Books', id: 'book_search_submit', class: 'btn waves-effect waves-light right' %>
        <img src="https://books.google.com/googlebooks/images/poweredby.png" border="0" width="62" height="30" align="absbottom" style="position: relative; top: 6px; margin:0; border: 0; padding: 0; padding-left: 8px">
      </div>
    </div>
  <% end %>
  <% if @books %>
    <%= paginate @books %>
    <div class="row" id="results_section">
      <% unless @books.to_a.nil? %>
        <% @books.each_with_index do |book, i| %>
          <div class="card horizontal" id="result_<%=i%>">
            <div class="card-image valign-wrapper">
              <img src="http://books.google.com/books/content?id=<%=book.sfetch(:id)%>&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </div>
            <div class="card-stacked">
              <div class="card-title"><%= book.sfetch(:volumeInfo)&.sfetch(:title) %></div>
              <div class="card-content"><%= book.sfetch(:volumeInfo)&.sfetch(:description) || 'No Description' %></div>
              <div class="card-action">
                <%= link_to 'View on Google Books', book.sfetch(:volumeInfo)&.sfetch(:infoLink), class: 'waves-effect waves-light btn' %>
                <%= link_to 'Shelf It!', "#{save_to_shelf_books_path}?book=#{book.sfetch(:id)}", {class: 'waves-effect waves-light btn'} %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <%= paginate @books %>
<% end %>
</div>