<div class="row">
  <%= form_with scope: :book, url: books_path, id: 'book_search_form', method: :get, local: true do |form| %>
    <div class="row">
      <div class="twelve columns" id="search_section">
        <br>
        <div class="input-field col s12">
          <%= form.label :search, class: 'right' %>
          <%= form.text_field :search, id: 'book_search' %>
        </div>
        <%= form.submit 'Search Books', id: 'book_search_submit', class: 'btn waves-effect waves-light right' %>
        <img src="https://books.google.com/googlebooks/images/poweredby.png" border="0" width="62" height="30" align="absbottom" style="position: relative; top: 6px; margin:0; border: 0; padding: 0; padding-left: 8px">
      </div>
    </div>
  <% end %>
  <% if @books %>
    <%= paginate @books %>
    <table class="u-full-width" id="results_section">
      <thead>
        <tr id="results_heading">
          <th width="20%">Image</th>
          <th width="20%">Title</th>
          <th width="50%">Summary</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% unless @books.to_a.nil? %>
        <% @books.each_with_index do |book, i| %>
          <tr id="result_<%=i%>">
            <td><img src="<%= book.sfetch(:volumeInfo)&.sfetch(:imageLinks)&.sfetch(:smallThumbnail)%>"></td>
            <td><%= book.sfetch(:volumeInfo)&.sfetch(:title) %></td>
            <td><%= book.sfetch(:volumeInfo)&.sfetch(:description) || 'No Description' %></td>
            <td><%= link_to 'view', book.sfetch(:volumeInfo)&.sfetch(:infoLink), class: 'waves-effect waves-light btn' %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>