
<h5>New Book</h5>
<hr/>
<div>
  <%= form_with scope: :book, url: books_path, local: true do |form| %>
  <div class="row">
    <div class = "six columns">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class = "twelve columns">
      <%= form.label :summary %>
      <%= form.text_area :summary, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
      <%= form.submit class: 'button-primary' %>
    </div>
  <% end %>
  <hr/>
</div>