<!DOCTYPE html>
<html>
  <head>
    <title>CabanaBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href='/'><h1 class='title'>Cabana Books</h1></a>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
          <%= link_to 'Home', {controller: 'welcome'}, class: 'navbar-link' %>
          </li>
          <li class="navbar-item">
          <%= link_to 'Books', {controller: 'books'}, class: 'navbar-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
